<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title><%= content_for(:title) || "Bazar Salamone" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="application-name" content="Bazar Salamone">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT@0,9..144,300..600,30..100;1,9..144,300..600,30..100&family=Geist:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "auth", "data-turbo-track": "reload" %>
  </head>

  <% variant = content_for?(:auth_variant) ? content_for(:auth_variant) : "customer" %>
  <body class="auth auth--<%= variant %>">
    <main class="auth__grid">
      <aside class="auth__hero">
        <%= yield :auth_hero %>
      </aside>
      <section class="auth__panel">
        <div class="auth__panel-inner">
          <%= render "shared/flash" %>
          <%= yield %>
        </div>
      </section>
    </main>
  </body>
</html>
